@import "fonts/shabnam-font-face.css";
@font-face {
    font-family: 'Neirizi';
    src: url('fonts/woff2/Neirizi.woff2') format('woff2'),
    url('fonts/woff/Neirizi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Al Qalam New';
    src: url('fonts/woff2/AlQalamNew.woff2') format('woff2'),
    url('fonts/woff/AlQalamNew.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'QuranTaha';
    src: url('fonts/woff2/QuranTaha1.woff2') format('woff2'),
    url('fonts/woff/QuranTaha1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
